body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

input, button, textarea {
    font-family: inherit;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

textarea {
    resize: vertical;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-bottom: 10px;
}

.star-rating span {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
}

.star-rating span:hover,
.star-rating span:hover ~ span {
    color: #f39c12;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-item img {
    width: 100%;
    height: auto;
}

.movie-item h3 {
    margin: 0;
    padding: 0 10px;
    font-size: 1rem;
}

.movie-item p {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 0.9rem;
}

.movie-item .rating {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.movie-item .rating span {
    font-size: 16px;
    margin-right: 5px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0;
}

.review-item:last-child {
    border-bottom: none;
}

.review-rating {
    color: #ffcc00;
    margin: 0;
}

